@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 92%;
    background: #fff;
    z-index: 50;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    &.open {
        animation: slideInLeft 0.3s ease forwards;
    }

    &.close {
        animation: slideOutLeft 0.3s ease forwards;
    }
}